# App cache & backups
/app/cache/TwigCompilation/*
/app/cronjob/backup/*
!/app/cronjob/backup/1.txt

# Vendor files
/vendor/*
!vendor/.htaccess
!vendor/SimpleImage.php
!vendor/SessionManager.php

# Web assets (Can de downloaded from mafiasource.nl)
/web/downloads/*
/web/vendor/*
/web/public/cache/*

/web/composer.lock
/web/public/images/*
!web/public/images/.htaccess
!web/public/images/users/.htaccess
!web/public/images/families/.htaccess

# Root files
/.ftpquota
/composer.phar
/composer.lock
