# App cache & backups
/app/cache/TwigCompilation/*
/app/cronjob/backup/*

# Web assets (Can de downloaded from mafiasource.nl)
/web/downloads/*
/web/lib/*
/web/public/cache/*

/web/public/images/*
!web/public/images/.htaccess
!web/public/images/captcha/
!web/public/images/users/.htaccess
!web/public/images/families/.htaccess
!web/public/images/favicon/browserconfig.xml
!web/public/images/favicon/manifest.json

# Root files
/.ftpquota
