# Canonical in repo: LF for all text
* text=auto eol=lf

# Windows-only project files that truly require CRLF
*.vcproj text eol=crlf
*.sln    text eol=crlf

# Scripts
*.sh text eol=lf

# Binaries
*.jpg -text
*.png -text
*.gif -text
*.zip -text