{% extends "/app/Resources/Views/gamebase.twig" %}

{% block content %}
{#
<div class="top">
    Streetrace
</div>
<div class="content-container">
    <div class="row">
        Vroem
    </div>
</div>
#}
{% endblock content %}
