## Mafiasource online mafia RPG, this software is inspired by Crimeclub.
## Copyright © 2016 Michael Carrein, 2006 Crimeclub.nl
##
## Permission is hereby granted, free of charge, to any person obtaining a
## copy of this software and associated documentation files (the “Software”),
## to deal in the Software without restriction, including without limitation
## the rights to use, copy, modify, merge, publish, distribute, sublicense,
## and/or sell copies of the Software, and to permit persons to whom the
## Software is furnished to do so, subject to the following conditions:
##
## The above copyright notice and this permission notice shall be included
## in all copies or substantial portions of the Software.
##
## THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS
## OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
## MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN
## NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM,
## DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR
## OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR
## THE USE OR OTHER DEALINGS IN THE SOFTWARE.

# Captcha, only directory in our resources that requires the execution of a .php file
# Hard code the file name for increased security.

Require all denied
## Previous allowed files (/images/.htaccess) will be denied in order to allow new filesstack. (Likely not necessary with above deny all)
<FilesMatch "\.([Jj][Pp][Ee]?[Gg]?|[Pp][Nn][Gg]|[Gg][Ii][Ff]|[Ww][Ee][Bb][Pp]|[Gg][Zz]|[Pp][Dd][Ff])$">
    Require all denied
</FilesMatch>
# Only the following file extensionis allowed from here on..
<FilesMatch "\.([Pp][Hh][Pp])$">
    Require all granted
</FilesMatch>
