<div style="max-width: 280px;" class="middle">
    <div class="table-responsive">
        <table class="table table-sm table-dark table-bordered">
            <thead>
                <tr>
                    <th scope="col" class="center">
                        <strong>{{ langs.YOUR_THROW }}</strong>
                    </th>
                    <th scope="col" class="center">
                        <strong>{{ langs.HIS_THROW }}</strong>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="center"><font size="8">{{ rolled }}</font></td>
                    <td class="center"><font size="8">{{ ownerRolled }}</font></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br class="clear"/>
