{% extends "/app/Resources/Views/base.admin.twig" %}
 
{% block content %}
<div class="row">
	<div class="col-md-12">
        <div class="content-box-header">
			<div class="panel-title">Beroepen beheren</div>
			
			<div class="panel-options">
				<a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
			</div>
		</div>
		<div class="content-box-large box-with-header">
            {% set tableRows = profession %}
            {% set dataTable = 'profession' %}
            {% set startvar = pagination.from %}
            {# {% set skipFields = ['password','status','donator','lastclick','charType','charType_soon','avatar','profile'] %} #}
            {% set onlyFields = ['id','profession_nl','description_nl'] %}
            {% include "/app/Resources/Views/recordstable.twig" %}
            
            <a href="#" class="btn btn-default editOrNew">Nieuw beroep aanmaken</a>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
    {% include "src/Views/admin/.recordstable.js.twig" %}
{% endblock javascripts %}
