{% extends "/app/Resources/Views/base.admin.twig" %}

{% block content %}
<div class="row">
	<div class="col-md-12">
        <div class="content-box-header">
			<div class="panel-title">Familie overvallen beheren</div>
			
			<div class="panel-options">
				<a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
			</div>
		</div>
		<div class="content-box-large box-with-header">
            {% set tableRows = family_raid %}
            {% set dataTable = 'family_raid' %}
            {% set startvar = pagination.from %}
            {# {% set skipFields = ['driverReady', 'bombExpertReady', 'weaponExpertReady', 'garageID', 'bombType', 'weaponType', 'bullets'] %} #}
            {% set onlyFields = ['stateID', 'familyID', 'leaderID', 'driverID', 'bombExpertID', 'weaponExpertID'] %}
            {% include "/app/Resources/Views/recordstable.twig" %}
            
            <a href="#" class="btn btn-default editOrNew">Nieuwe overval aanmaken</a>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
    {% include "src/Views/admin/.recordstable.js.twig" %}
{% endblock javascripts %}
