{% extends "/app/Resources/Views/base.admin.twig" %}

{# Standaard pagina opmaak voor ophalen records tabel #}
 
{% block content %}
<div class="row">
	<div class="col-md-12">
        <div class="content-box-header">
			<div class="panel-title">Familie garages beheren</div>
			
			<div class="panel-options">
				<a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
			</div>
		</div>
		<div class="content-box-large box-with-header">
            {% set tableRows = family_garage %}
            {% set dataTable = 'family_garage' %}
            {% set startvar = pagination.from %}
            {# {% set skipFields = [''] %} #}
            {% set onlyFields = ['id', 'familyID', 'size'] %}
            {% include "/app/Resources/Views/recordstable.twig" %}
            
            <a href="#" class="btn btn-default editOrNew">Nieuwe garage aanmaken</a>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
    {% include "src/Views/admin/.recordstable.js.twig" %}
{% endblock javascripts %}
