{% extends "/app/Resources/Views/base.admin.twig" %}

{% block content %}
<div class="row">
	<div class="col-md-12">
        <div class="content-box-header">
			<div class="panel-title">Bezitting (lijst) beheren</div>
			
			<div class="panel-options">
				<a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
			</div>
		</div>
		<div class="content-box-large box-with-header">
            {% set tableRows = possessions %}
            {% set dataTable = 'possession' %}
            {% set startvar = pagination.from %}
            {# {% set skipFields = ['article_nl','article_en'] %} #}
            {% set onlyFields = ['id','name_nl','price'] %}
            {% include "/app/Resources/Views/recordstable.twig" %}
            
            {#<a href="#" class="btn btn-default editOrNew">Nieuwe bezitting invoegen</a>#}
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
    {% include "src/Views/admin/.recordstable.js.twig" %}
{% endblock javascripts %}
