{% if cookiesAccept != "true" %}
    <div class="alert fade show alert-warning alert-dismissible" role="alert">
        <img src="{{ staticRoot }}/foto/web/public/images/icons/bell.png" width="16" height="16" class="icon" alt="Warning" title="Warning" border="0" />
        {{ langs.COOKIES_ACCEPT|raw }}
        <button type="button" class="close btn-close closeCookieMessage" data-bs-dismiss="alert" aria-hidden="Close"><span class="visually-hidden">&times;</span></button>
    </div>
{% endif %}
