<div class="c-row cf">
    <div class="inner-c-container">
        <div class="subtop">
            {{ langs.TRAVEL }}
        </div>
        <div class="content-container">
            <div class="row">
                <img src="{{ staticRoot }}/foto/web/public/images/icons/tick.png" class="icon" alt=""/> {{ langs.TRAVELING|raw }}
            </div>
        </div>
    </div>
</div>
