<span>Ben je zeker dat je de volledige game en alle vooruitgang wil resetten?</span>
<br /><br />
<div id="ajaxLoader"><img src="{{ docRoot }}/web/public/images/ajax-loader.gif" alt="Loading..."/></div>
<input type="hidden" name="submit-reset" value="{{ securityToken }}"/>
<input type="submit" name="submit_reset" class="btn btn-success" value="Ja, ik ben het zeker!"/>
<input type="button" name="cancel" data-dismiss="alert" class="btn btn-default" value="Nee, sluiten!"/>
